
copy to git repo.bat
copy to live folder (from pull).bat
SpellCreator/copy to git repo.bat - Shortcut.lnk
SpellCreator/copy to live folder (from pull).bat - Shortcut.lnk
SpellCreator/assets/originals/
SpellCreator/assets/original-customs/
SpellCreator/SpellCreator-dev.toc
SpellCreator/PULL SpellCreator from GIT Folder.bat
SpellCreator/PUSH SpellCreator to GIT Folder.bat
*.bat
